$white: #ffffff;

$black: #000000;

$gray50: #f8f8f8;
$gray100: #f2f2f2;
$gray200: #e6e6e6;
$gray300: #d9d9d9;
$gray400: #cccccc;
$gray500: #ababab;
$gray600: #919191;
$gray700: #616161;
$gray800: #2e2e2e;
$gray900: #1a1a1a;
