@import '~/styles/index';

.fixed {
  position: fixed;
  width: 100%;
}

.container {
  height: 6rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 3rem;

  border-bottom: 0.1rem solid $gray800;
}

.left {
  width: 100%;
}

.right {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  color: $white;
}

.accountButton {
  all: unset;

  margin-left: 1.6rem;

  color: $gray500;

  display: flex;
  align-items: center;

  flex-shrink: 0;

  @include size14;

  &:hover {
    cursor: pointer;
    color: $white;
  }

  & > svg {
    width: 2.4rem;
    height: 2.4rem;

    color: $gray300;
  }

  & .accountButtonText {
    line-height: 1.4;
    margin-left: 0.6rem;
  }
}

.chainButton {
  all: unset;

  cursor: pointer;

  padding-left: 0.5rem;
  padding-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 0.1rem solid $gray500;
  border-radius: 0.5rem;

  width: 15rem;
  height: 3rem;

  flex-shrink: 0;
}

.chainButtonLeft {
  display: flex;
  align-items: center;

  @include size14;

  & .chainImgContainer {
    width: 2.5rem;
    height: 2.5rem;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
}

.chainButtonText {
  line-height: 1.4;
  margin-left: 0.2rem;
}

.menuIcon {
  width: 2.4rem;
  height: 2.4rem;
}

.popoverContainer {
  box-sizing: border-box;

  width: 47rem;
  height: 13.6rem;

  padding: 1.5rem 2.3rem;

  font-size: 1.4rem;
}

.popoverTitle {
  font-weight: bold;
}

.popoverAddressContainer {
  margin-top: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popoverAddressToolButtonContainer {
  flex-shrink: 0;
}

.popoverButtonContainer {
  margin-top: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
