@import '~/styles/index';

.adContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aditem {
  display: flex;
  height: 3rem;
  align-items: center;

  justify-content: flex-end;
}

.cosmosImage {
  background-image: url('assets/cosmos.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 8rem;
  height: 2rem;
}

.defiImage {
  background-image: url('assets/defistation.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 10rem;
  height: 3rem;
  margin-top: -1.5rem;
}

.trustednodeImage {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  background-image: url('assets/trustednode.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 5.4rem;
  height: 2rem;
}

.crescentImage {
  background-image: url('assets/crescent.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
