@import '~/styles/index';

.container {
  padding: 0 2rem 2rem;

  max-width: 68.8rem;
}

.connectContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.centerDiv {
  width: 1.2rem;
}

.verticalDivider {
  border-left: 0.1rem solid $gray300;

  height: 5rem;
}

.button {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 25.5rem;

  border-radius: 0.5rem;

  border: 0.1rem solid #ededed;

  & .imgContainer {
    width: 4.5rem;
    height: 4.5rem;

    margin-right: 1rem;

    & > img {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  & .text {
    display: flex;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;

    line-height: 1.2;
  }

  &:hover {
    cursor: pointer;
    border: 0.1rem solid #949494;
  }

  &:disabled {
    cursor: default;
    opacity: 0.3;
    background-color: inherit;
  }
}

.buttonStyle1 {
  height: 7rem;
  width: 100%;
}

.buttonStyle2 {
  height: 4.5rem;
  width: 100%;

  font-size: 1.3rem;
  font-weight: 700;

  margin-top: 1.2rem;
}

.keystationDescriptionContainer {
  margin-top: 1.2rem;

  border-radius: 0.5rem;

  background-color: #fff3f3;

  padding: 0.8rem 0.9rem;

  display: flex;

  font-size: 1.1rem;
  line-height: 1.2rem;
}

.keystationTextContainer {
  margin-left: 0.4rem;
}
