@import '~/styles/index';

.container {
  width: calc(100% - 2.6rem);
  height: calc(100% - 4rem);

  color: $black;
  font-size: 1.3rem;

  background-color: $white;

  padding: 2rem 1.3rem;

  display: flex;
  justify-content: center;

  overflow: auto;
}

.contentContainer {
  max-width: 114rem;

  height: max-content;

  width: 100%;
}

.titleContainer {
  display: flex;

  justify-content: space-between;

  align-items: center;

  .title {
    font-size: 1.9rem;
  }
}

.hdPath {
  margin-top: 1rem;
}

.walletInfo {
  margin-top: 3rem;
}

.withdraw {
  margin-top: 3rem;
}
