@import '~/styles/index';

.container {
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/bg_home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.snackbar {
  font-size: 1.6rem;
}
