.validatorContainer {
  display: flex;

  justify-content: flex-start;

  align-items: center;
}

.validatorImgContainer {
  margin-right: 1rem;
  & > img {
    width: 3rem;
    height: 3rem;
  }
}

.aElementStyle {
  color: #4a90e2;

  &:hover {
    color: #2275d7;
  }

  &:visited {
    color: #4a90e2;
  }
}

.title {
  font-size: 1.9rem;

  margin-bottom: 2rem;
}
