.validatorContainer {
  display: flex;

  justify-content: flex-start;

  align-items: center;

  & > a {
    color: #4a90e2;

    &:hover {
      color: #2275d7;
    }

    &:visited {
      color: #4a90e2;
    }
  }
}

.validatorImgContainer {
  margin-right: 1rem;
  & > img {
    width: 3rem;
    height: 3rem;
  }
}
